<section fxLayoutAlign="center center">
  <form fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="15px"
        fxFlex.xs="100%"
        fxFlex.sm="66.6%"
        fxFlex.md="50%"
        fxFlex.gt-md="33.3%"
        [formGroup]="loginForm">
    <img src="https://miro.medium.com/max/1400/1*9NB__ssP6pLHkTGTs_GzXg.jpeg" alt="Angular 9">
    <mat-form-field>
      <input type="email"
             matInput
             placeholder="Email"
             required
             formControlName="email"
             #email>
      <mat-hint>Please enter a valid email.</mat-hint>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="loginForm.get('email').hasError('email')">
        Email is invalid.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password"
             matInput
             placeholder="Password"
             required
             formControlName="password">
      <mat-hint>Please enter your password.</mat-hint>
      <mat-error>Password is required.</mat-error>
    </mat-form-field>
  </form>
</section>
