<mat-toolbar class="mat-elevation-z6" color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button routerLink="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
           alt="Angular">
      <span class="app-title">Fitness Tracker</span>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout class="nav-items">
      <li><a routerLink="/signup">Signup</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/training">Training</a></li>
      <li><a style="cursor: pointer">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
