<section>
  <form fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="15px"
        (ngSubmit)="onSubmit(form)"
        #form="ngForm">
    <img src="https://miro.medium.com/max/1400/1*9NB__ssP6pLHkTGTs_GzXg.jpeg" alt="Angular 9">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email"
             matInput
             name="email"
             required
             email
             ngModel
             #email="ngModel">
      <mat-error *ngIf="email.hasError('required')">E-Mail is required.</mat-error>
      <mat-error *ngIf="email.hasError('email')">E-Mail is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <mat-label>Password</mat-label>
      <input type="password"
             matInput
             name="password"
             required
             minlength="6"
             ngModel
             #password="ngModel">
      <mat-hint align="end">{{ password.value?.length }} / 6</mat-hint>
      <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
      <mat-error *ngIf="password.hasError('minlength')">
        Password has to be at least 6 characters long.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Birth date</mat-label>
      <input matInput
             [matDatepicker]="picker"
             [max]="maxDate"
             name="birthDate"
             required
             ngModel>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox name="agree"
                  color="primary"
                  required
                  ngModel>Agree to Terms and Conditions.
    </mat-checkbox>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</section>
