<section fxLayoutAlign="center center">
  <form fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="15px"
        fxFlex.xs="100%"
        fxFlex.sm="66.6%"
        fxFlex.md="50%"
        fxFlex.gt-md="33.3%"
        (ngSubmit)="onSubmit(form)"
        #form="ngForm">
    <span class="signup-title">Please sign up to continue</span>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email"
             placeholder="Ex: gaetan.bloch@gmail.com"
             matInput
             name="email"
             required
             email
             ngModel
             #email="ngModel">
      <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error>
      <mat-error *ngIf="email.hasError('email')">Email is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <mat-label>Password</mat-label>
      <input type="password"
             matInput
             name="password"
             required
             minlength="6"
             ngModel
             #password="ngModel">
      <mat-hint align="end">{{ password.value?.length }} / 6</mat-hint>
      <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
      <mat-error *ngIf="password.hasError('minlength')">
        Password has to be at least 6 characters long.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Birth date</mat-label>
      <input matInput
             [matDatepicker]="picker"
             [max]="maxDate"
             name="birthDate"
             style="cursor: default"
             readonly
             required
             ngModel>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox name="agree"
                  color="primary"
                  required
                  ngModel>
      Agree to Terms and Conditions.
    </mat-checkbox>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
      Submit
    </button>
  </form>
</section>
