<mat-sidenav-container>
  <mat-sidenav role="navigation" #sidenav>
    <p>Sidenav</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <button mat-icon-button routerLink="/">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
               alt="Angular">
        </button>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="10px" class="nav-items">
          <li><a routerLink="/signup">Signup</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/training">Training</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

